.modalBody {
  height: 60vh;
  width: 45vw;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid White;
  box-shadow: rgb(0 0 0 / 25%) 0.3rem 0.3rem 0.75rem;
}

.topSection {
  height: 15%; 
  width: 100%;
  border-bottom: 0.4px solid black;
  display: flex;
  justify-content: space-between;
}

.header {
  margin-left: 1.3rem;
}

.headerBtn {
  margin-right: 2rem;
  padding: 0;
  background-color: white;
  border: 0px white;
  width: 1rem;
  cursor: pointer;
}

.middleSection{
    height: 70%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.profileContainer{
    width: 100%;
    height: 20%;
    background-color: azure;
    display: flex;
    justify-content: space-between;

}

.roundImage {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }


.bottomSection{
    height: 15%;
    width: 100%;
    border-top: 0.4px solid black;
    display: flex;
    justify-content: space-between;
}